
body{
    
    background: linear-gradient(45deg, rgb(42, 156, 190) 0%, rgb(37, 154, 172) 40%, rgba(0, 212, 255, 1) 100%);

}

h1{
    text-align: center;
}

#camporadio {

    vertical-align: middle;
}


#botao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
}


.label{
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

input{
    cursor: auto;
}


