
h1{
    text-align: center;
}

#camporadio {



} 
#botao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

