@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Gruppo&family=Macondo&family=Montserrat:ital@1&family=Noto+Sans:ital,wght@0,400;1,300;1,400&family=Nunito:ital,wght@0,400;1,300&family=Poppins&family=Russo+One&family=Sarala:wght@400;700&family=Source+Code+Pro:wght@500&family=Ubuntu:ital,wght@1,300;1,400&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header,
body {
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

body {
    font-size: 100%;
    background: rgb(49, 45, 122);
    background: linear-gradient(90deg, rgba(49, 45, 122, 1) 0%, rgba(37, 118, 130, 1) 40%, rgba(0, 212, 255, 1) 100%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 7px;

}

.logo-cabecalho {
    height: 50px;
}

.menu {
    margin-left: 110px;
    display: flex;
    gap: 39px;

}

.menu-item {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
}

section.sobre{
    height: calc(100% - 200px);
    position: relative;
}

.extras{
    position: absolute;
    bottom: -450px;
    right: -500px;
    width: 1100px;
    height: 1100px;
    border-radius: 50%;
    background-color: green;
}

.conteudo {
    margin-bottom: 155px;
    border-top: 2px solid black;
}

.principal {
    margin-top: 40px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.principal-escrito {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.principal-titulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 50px;
    color: rgb(255, 255, 255);
}

.principal-subtitulo {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: rgb(255, 255, 255);

}

.botao {
    margin-top: 45px;
    width: 250px;
    height: 70px;
    border: none;
    box-shadow: 1px 5px 17px rgb(36, 34, 34);
    border-radius: 40px;
    font-size: 18px;
}

.botao:hover {
    background-color: rgb(187, 186, 184);
    box-shadow: 1px 1px 5px 2px rgb(59, 59, 59);
    cursor: pointer;
}

.principal-img {
    margin-top: 40PX;
    height: 350px;
    width: 350px;
    margin-right: 170px;
}

.h3 {
    margin-top: 220px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);

}

/* .quadrado{
    background-color: green;   
    width: 50px;
    height: 50px;
} */