* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: rgb(49, 45, 122);
    background: linear-gradient(90deg, rgba(49, 45, 122, 1) 0%, rgba(37, 118, 130, 1) 40%, rgba(0, 212, 255, 1) 100%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 7px;
    
}

.logo-cabecalho {
    height: 50px;
}

.menu {
    display: flex;
    gap: 32px;
    
}

.menu-item {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
}

.conteudo {
    margin-bottom: 155px;
    border-top: 2px solid black;
}

.principal {
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.principal-titulo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 50px;
    color: rgb(255, 255, 255);
}

.principal-subtitulo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: rgb(255, 255, 255);

}

.botao {
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 1px 5px 17px rgb(36, 34, 34);
    border-radius: 40px;
    font-size: 18px;
}

.botao:hover {
    background-color: rgb(187, 186, 184);
    box-shadow: 1px 1px 5px 2px rgb(59, 59, 59);
    cursor: pointer;
}

.principal-img {
    height: 350px;
    width: 350px;
    margin-right: 60px;
}

.h3 {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);

}

/* .quadrado{
    background-color: green;   
    width: 50px;
    height: 50px;
} */